@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
  --bg1: #151828;
  --bg2: #1B1F34;
  --body: #959DCC;
  --brand: #FFAB76;
  --white: #fff;
}


body {
  font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--body);
  line-height: 1.8;
  background-color: var(--bg2);
}


h1,
h2,
h3,
h4,
h5 {
  font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

img {
  width: 100%;
}

section {
  padding-top: 160px;
  padding-bottom: 160px;
}

/*INTRO*/
.intro {
  margin-bottom: 60px;
}

.intro h1 {
  margin: 24px 0;
}


/* NAVBAR */
.navbar {
  background: linear-gradient(to bottom, #151828, rgba(27, 21, 52, 0.0));
}

.navbar-brand {
  font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;

}

.navbar .navbar-nav .nav-link.active {
  color: var(--brand);
}


/* HERO */
#hero {
  background: linear-gradient(to right, #151828, rgba(27, 21, 52, 0.0)), url("assets/img/cover_1.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

#hero p {
  margin-top: 24px;
  margin-bottom: 24px;
}

/* BTN */
.btn {
  padding: 16px 36px;
  font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.4s ease;
  border-radius: 0;
}

.btn-brand {
  background-color: var(--brand);
}

.btn-brand:hover {
  background-color: transparent;
  color: var(--brand);
  border-color: var(--brand);
}


.btn-outlined-brand {
  background-color: transparent;
  color: var(--brand);
  border-color: var(--brand);
}

.btn-outlined-brand:hover {
  background-color: var(--brand);
  color: white;
  border-color: var(--brand);
}


/*ABOUT*/
#about {
  position: relative;
}


#about::after {
  content: "";
  width: 25%;
  height: 100%;
  background-color: var(--brand);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#about h6 {
  color: var(--brand);
}

#about h1 {
  margin-top: 16px;
  margin-bottom: 24px;
}

#about .signature {
  width: unset;
}


a {
  color: var(--body);
  text-decoration: none;
}

.link-more {
  display: inline-flex;
  align-items: center;
}

a:hover {
  color: var(--brand);
}


/*services*/

#services {
  background: var(--bg1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.service{
 cursor: pointer;
}

.modal-dialog {
  width: 500px;
}

#services .service .content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#services .service p {
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: center;
}

.cta-btns {
  margin-top: 60px;
}

.review {
  padding: 32px;
  background-color: #151828;
  margin-bottom: 8px;
}

.review img {
  width: 70px;
  border-radius: 200px;
}

.review-card {
  background-color: var(--bg2);
}

/*BOOKING*/

#appointment {
  background: linear-gradient(to right, rgba(27, 21, 52, 0.8), rgba(27, 31, 52, 0.8)), url("assets/img/cover_2.jpg");
  background-size: cover;
  background-position: center;
}


#appointment form {
  background-color: var(--bg1);
  padding: 32px;

}

#appointment form .form-control {
  background-color: var(--bg2);
  border-radius: 0;
  margin-top: 16px;
  border-color: var(--bg1);
  color: white;
}

#appointment form input {
  height: 58px;
}

#auth {
  background: linear-gradient(to right, #151828, rgba(27, 21, 52, 0.0)), url("https://images.unsplash.com/photo-1516975080664-ed2fc6a32937?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: center;
}
